/* algemeen */

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* index.html */
* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0px;
}

.IndexPageContainer {
  width: 80vw;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

h1 {
  font-size: 22px;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.formContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.formContainer__input {
  border: 1px solid black;
  border-radius: 30px;
  height: 30px;
  outline: none;
  padding: 0px 15px;
  font-size: 18px;
  margin: 0px 0px 20px 0px;
}

.formContainer__submit {
  width: 100px;
  color: black;
  border-radius: 30px;
  font-size: 18px;
}

/* index.html */
.hoeraPageContainer,
.boePageContainer,
.gamePageContainer {
  width: 80vw;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.buttonMijnBeurt--Hoera,
.buttonMijnBeurt--Boe {
  width: 100px;
  color: black;
  background-color: rgb(187, 187, 187);
  border-radius: 30px;
  height: 44px;
  width: 60vw;
  padding: 5px 15px;
  font-size: 18px;
}

/* game.php */

.keyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 0px 0px 0px;
}

.key {
  height: 40px;
  width: 40px;
  background-color: rgb(187, 187, 187);
  color: black;
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.key:active {
  background-color: rgb(177, 255, 221);
}
