/* algemeen */

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

::placeholder {
  color: black;
  font-style: italic;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  font-style: italic;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  font-style: italic;
}

/* index.php */
* {
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0px;
}

.IndexPageContainer {
  width: 80vw;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.openingImage {
  width: 100%;
  margin-bottom: 30px;
}

h1 {
  font-size: 19px;
  margin: 0px 0px 30px 0px;
  text-align: center;
  place-self: center;
  font-weight: normal;
}

.formContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.formContainer__input {
  border: 1px solid black;
  height: 44px;
  width: 60vw;
  outline: none;
  padding: 0px 15px;
  font-size: 16px;
  margin: 0px 0px 20px 0px;
  caret-color: #ff7bac;
  color: #ff7bac;
}

.formContainer__submit {
  width: 100px;
  color: black;
  background-color: white;
  border: 1px solid black;
  outline: none;
  height: 44px;
  width: 30vw;
  padding: 5px 15px;
  font-size: 17px;
  place-self: center;
}

.formContainer__submit:active {
  color: #ff7bac;
  border: 1px solid #ff7bac;
}

/* index.html */
.hoeraPageContainer,
.boePageContainer,
.gamePageContainer {
  width: 90vw;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.buttonMijnBeurt--Hoera,
.buttonMijnBeurt--Boe {
  width: 100px;
  color: black;
  background-color: none;
  border: 1px solid black;
  outline: none;
  height: 44px;
  width: 50vw;
  padding: 5px 15px;
  font-size: 16px;
  place-self: center;
}

.buttonMijnBeurt--Hoera {
  background-color: #fcee21;
}

.buttonMijnBeurt--Boe {
  background-color: #ff7bac;
}

.boePageBody {
  background-color: #ff7bac;
}

.hoeraPageBody {
  background-color: #fcee21;
}

/* ----------game.php---------- */

/* hangman images */

.hangmanImages {
  position: relative;
  height: 200px;
  width: 200px;
}

.hangmanImages--img1,
.hangmanImages--img2,
.hangmanImages--img3,
.hangmanImages--img4,
.hangmanImages--img5,
.hangmanImages--img6,
.hangmanImages--img7,
.hangmanImages--img8,
.hangmanImages--img9,
.hangmanImages--img10 {
  position: absolute;
}

.hangmanImages--img1 {
  z-index: 1;
}
.hangmanImages--img2 {
  z-index: 2;
}
.hangmanImages--img3 {
  z-index: 3;
}
.hangmanImages--img4 {
  z-index: 4;
}
.hangmanImages--img5 {
  z-index: 5;
}
.hangmanImages--img6 {
  z-index: 6;
}
.hangmanImages--img7 {
  z-index: 7;
}
.hangmanImages--img8 {
  z-index: 8;
}
.hangmanImages--img9 {
  z-index: 9;
}
.hangmanImages--img10 {
  z-index: 10;
}

/* gridOutput (letters)*/

.gridOutput {
  display: flex;
  flex-direction: row;
  margin: 20px 0px 0px 0px;
}

.guessedLetter {
  padding: 0px 5px 0px 0px;
  font-size: 18px;
}

/* gridInput (keyboard) */

.gridInput {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 0px 0px 0px;
}

.key {
  height: 10vw;
  width: 10vw;
  background-color: white;
  color: black;
  font-size: 25px;
  outline: none;
  border: none;
}

.key:active {
  background-color: #ff7bac;
}

@media (min-width: 1281px) {
  body {
    width: 100vw;
  }

  .IndexPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .openingImage {
    width: 350px;
  }

  .gamePageContainer {
    width: 50vw;
  }

  .gridInput {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    margin: 20px 0px 0px 0px;
  }

  .key {
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    font-size: 25px;
    outline: none;
    border: none;
  }
}
